@import 'styles/theme';

.login {
  p {
    font-family: $fontText;
    font-weight: $fontWeightRegular;
    padding: 0;
    margin: 0;
  }
  a {
    color: $brown_dark;
    text-decoration-line: underline;
    text-decoration-thickness: from-font;
    text-underline-offset: 0.1em;
    &:hover {
      color: $yellow_dark;
    }

  }
  &.container {
    //margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;

    padding: 0;
    border-radius: $borderRadius;
    border: 2px solid $borderColor;
    background-color: $background;

    //font-weight: $fontWeightRegular;

    transition: opacity 0.5s ease, transform 0.5s ease;

    //min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    // @include center;
    //flex-direction: column;
  }
  &.header {
    padding: 5px 15px;
    font-weight: $fontWeightBold;
    font-size: 22px;
    color: white;
    border-top-left-radius: $borderInnerRadius;
    background-color: $yellow_dark;
    border-top-right-radius: $borderInnerRadius;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 45px 36px;
    //width: 60%;
    //max-width: 30em;
    //height: 20em;
    font-size: 18px;
    font-weight: $fontWeightBold;
    padding-left: 37px;
    padding-right: 37px;
    //border-radius: $borderRadius;
    //border: 2px solid $borderColor;
    //background-color: $background;
    //transition: opacity 0.5s ease, transform 0.5s ease;
    //box-shadow: none;
  }
  &.field {
    display: table;
    text-align: right;
  }
  &.input {
    font-weight: $fontWeightRegular;
    height: 34px;
    width: 316px;
    padding-left: 8px;
    margin: 0;
    border: 1px solid $borderColor;
    border-radius: 0;
    margin-bottom: 20px;
    background: transparentize(white, 0);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-right: 10px;
    font-weight: $fontWeightBold;
  }
  &.button-container {
    display: flex;
    align-items: flex-end;
    margin-top: 16px;
    flex-direction: column;
  }
  &.link-container {
    width: 316px;
    margin: 36px 0 0 0;
    padding: 0;
  }
  &.remark {
    margin-right: 330px;
    font-size: 14px;
    font-weight: $fontWeightLight;
    text-align: right;
  }
}