@import 'styles/theme';

.session-lobby {
  &.container {
    display: flex;
    flex-direction: column;
    min-width: 687px;
    min-height: 300px;
    width: fit-content;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 50px;
    border-radius: $borderRadius;
    border: 2px solid $borderColor;
    //background-color: $background;
    background-color: white;
    transition: opacity 0.5s ease, transform 0.5s ease;

    // Background colors according to priority
    &.task_priority_none {
      background-color: $task_priority_none;
    }
    &.task_priority_low {
      background-color: $task_priority_low;
    }
    &.task_priority_medium {
      background-color: $task_priority_medium;
    }
    &.task_priority_high {
      background-color: $task_priority_high;
    }

  }

  &.header1 {
    padding: 5px 15px;
    padding-bottom: 10px;
    border-top-left-radius: $borderInnerRadius;
    background-color: $yellow_dark;
    border-top-right-radius: $borderInnerRadius;
    font-size: 150%;
    font-weight: bold;
  }

  &.header2 {
    padding: 5px 15px;
    background-color: $yellow_light;
  }

  &.footer {
    padding: 7px 15px;
    display: flex;
    justify-content: right;
    gap: 14px;
    background-color: $yellow_dark;
    border-bottom-left-radius: $borderInnerRadius;
    border-bottom-right-radius: $borderInnerRadius;
    text-align: right;
    & input {
      width: 100%;
      margin-top: 7px;
      margin-bottom: 7px;
    }
  }

  &.attributes-container {
    display: flex;
    flex-direction: row;
    margin: 7px;

    &.attributes-column {
      width: fit-content;
      flex-direction: column;
      &.rightalign {
        margin: 0 0 0 auto;
      }
    }
  }

  &.field {
    display: flex;
  }
  &.label {
    color: $textColor;
    margin-right: 10px;
    font-weight: $fontWeightBold;
    text-align: left;
    padding-top: 4px;
    &.react-select {
      padding-top: 6px;
    }
  }
  &.input {
    font-weight: $fontWeightRegular;
    height: 34px;
    width: 316px;
    padding: 0 8px;
    margin: 0 7px 20px auto;
    border: 1px solid $borderColor;
    border-radius: 0;
    background: transparentize(white, 0);
    color: $textColor;
  }
  & select {
    height: 34px;
    width: 100px;
    margin: 0 223px 20px auto;
    padding: 0 8px;
    font-family: $fontText;
    font-size: 14px;
    font-weight: $fontWeightRegular;
    background-color: white;
    border: 1px solid $brown_dark;
  }
}

.react-select-container {
  width: 316px;
  margin: 0 7px 20px auto;
  text-align: left;
  justify-content: left;
  font-family: $fontText;
  font-size: 14px;
  border-radius: 0;
}
.react-select__menu {
  border: 1px solid $brown_dark;
}