@import 'styles/theme';

.base-container {
  margin: 32px 0 0 146px;
  padding: 0;
  //min-width: 1195px;
  min-width: max-content;
  color: $textColor;
  justify-content: left;
  &.centered {
    margin-right: 146px;
    display: flex;
    justify-content: center;
  }
}