@import 'styles/theme';

.primary-button {
  margin: 0;
  padding: 1px;
  font-family: $fontMenu;
  font-weight: $fontWeightRegular;
  font-size: 24px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: $formButtonRadius;
  cursor: pointer;
  opacity: 1;
  background-color: $gray_light;
  transition: all 0.2s ease;

  &:hover {
    border-color: $brown_dark;
    background-color: $gray_medium;
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      border-color: black;
      background-color: $gray_light;
    }
  }
}

.menu-button {
  padding: 3px;
  font-family: $fontText;
  font-weight: $fontWeightRegular;
  font-size: 20px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: $gray_dark;
  border-radius: $buttonBorderRadius;
  cursor: pointer;
  opacity: 1;
  background-color: white;
  transition: all 0.3s ease;

  &:hover {
    border-color: $yellow_dark;
    background-color: $yellow_light;
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      border-color: $gray_dark;
      background-color: white;
    }
  }
}
