@import 'styles/theme';

.creation-button {
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 10px;
  font-family: $fontMenu;
  font-weight: $fontWeightRegular;
  font-size: 24px;
  text-align: start;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: $formButtonRadius;
  cursor: pointer;
  opacity: 1;
  background-color: $gray_light;
  transition: all 0.2s ease;

  &:hover {
    border-color: $brown_dark;
    background-color: $gray_medium;
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      border-color: black;
      background-color: $gray_light;
    }
  }
}


