@import 'styles/theme';

.participant-name {
  margin-bottom: 1em;
  margin-right: 1em;
  width: 80%;
  height: 35px;
  padding: 0.5px;
  font-family: $fontMenu;
  font-weight: $fontWeightRegular;
  font-size: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: saddlebrown;
  border-radius: $formButtonRadius;
  opacity: 1;
  background-color: $yellow_dark;
}
